form
{
    display: flex;
    flex-direction: column;
    justify-content:left;
    gap: 1vh;
    font-family: Calibri;
    width: 50vw;
    font-size: 20px;
}

button
{
   height: 5vh;
}

button
{
   height: 5vh;
   font-size: 16px;
}